:root {
  --color-primary: #bb2649;
  --color-secondary: #1c1c1c;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
