@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root {
  --color-primary: #bb2649;
  --color-secondary: #1c1c1c;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  height: 2000px;
}

.container {
  max-width: 120rem;
  margin-inline: auto;
}

.margin-bottom-6 {
  margin-bottom: 6rem;
}

.heading-1,
.heading-2 {
  text-align: center;
}

.heading-1 {
  font-size: 6rem;
}

.heading-2 {
  font-size: 4rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.padding-3 {
  padding: 3rem;
}

.header {
  background-color: var(--color-secondary);
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__item {
  flex: 1;
  text-align: center;
}

.menu__link {
  display: block;
  padding-block: 2rem;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  transition: all 0.2s;
}

.menu__link:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

#hero {
  margin-top: 5rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 5rem;
}

.hero__name {
  flex: 0 1 30%;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero__avatar {
  display: block;
  width: 100%;
  max-width: 30%;
}

.about {
  background-color: var(--color-white);
}

.skills-and-contacts {
  display: flex;
  gap: 5rem;
}

.contacts {
  flex: 1 1 50%;
  background-color: var(--color-white);
}

.skills {
  flex: 1 1 50%;
  background-color: var(--color-white);
}

.list {
  margin-left: 2rem;
}

.list__item::marker {
  color: var(--color-primary);
  font-size: 3rem;
}
