:root {
  --color-dark: #1f1f1f;
  --color-light: #eee;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
}
