.education {
  .list {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .list-item a {
    font-size: 2rem;
  }

  @media (prefers-color-scheme: dark) {
    .list-item a {
      color: var(--color-light);
    }
  }

  @media (prefers-color-scheme: light) {
    .list-item a {
      color: var(--color-dark);
    }
  }
}
