.header {
  display: flex;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-sm);
}

.header {
  .list {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }

  .list-item {
    border-radius: var(--border-radius-sm);
    transition: background-color var(--transition-duration);
  }

  .list-item a {
    display: block;
    padding: 10px;
    color: var(--color-light);
    text-decoration: none;
  }

  @media (hover: hover) {
    .list-item:hover {
      background-color: var(--color-accent-light);
    }
  }
}
