:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-viva-magenta: #be3455;

  --font-size-base: 1.6rem;
  --transition: all 0.3s ease-in;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 10px;
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
  font-weight: normal;
  line-height: normal;
  text-rendering: optimizeLegibility;
  color: var(--color-black);
  background-color: var(--color-white);
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin-inline: auto;
  display: grid;
  row-gap: 50px;
}
